* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: darkcyan;
}

/* Section 1 */

.s1 div :first-child {
    color: red;
}

.s1 div :last-child {
    color: royalblue;
}

/* Section 2 */

.s2 div :nth-child(2) {
    color: red;
}

.s2 div :nth-last-child(2) {
    color: royalblue;
}

/* Section 3 */

.s3 div p:nth-of-type(2) {
    color: red;
}

.s3 div p:nth-last-of-type(1) {
    color: royalblue;
}

/* Section 4 */
/* Este se aplica a solo una etiqueta */

.s4 div :only-child {
    color: red;
}

/* Section 5 */

.s5 div span:only-of-type {
    color: royalblue;
}

/* Links */

#links a:visited {
    color: green;
}

#links a {
    color: red;
}

#links a:hover {
    color: violet;
}

#cuadro {
    width: 500px;
    height: 200px;
    background-color: teal;
}

#cuadro::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 500px;
    background-color: tomato;
}

#cuadro::after {
    content: '';
    display: inline-block;
    height: 50px;
    width: 500px;
    background-color: royalblue;
}

.exciting-text::before {
    content: "EXCITING! -> ";
    color: green;
}

.boring-text::after {
    content: " <- BORING";
    color: red;
}

/*INPUT*/

.inpt:invalid {
    border: red 2px double;
    transition: 0.5s;
}

.inpt:valid {
    border: green 2px double;
    transition: 0.5s;
}

.inpt:required {
    border: goldenrod 1px double;
    transition: 0.5s;
}

.inpt:focus {
    border: royalblue 3px double;
}